.initial {
  margin-top: 110px !important;
}

.square {
  padding: 40px;
  border: 1px solid;
  border-radius: 60px !important;
  border-color: #a6acaf !important;
}

.nameCompany {
  color: var(--secondary--color);
}

.img-fluid {
  margin-top: 20px !important;
}

.formlogin {
  margin-top: 30px !important;
}

input {
  border: 1px solid;
  border-radius: 60px !important;
  padding-left: 6px !important;
}

.buttonvalidate {
  margin-top: 30px !important;
}
